@model asp_net_core_zoomir.Models.Product

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Opisanie)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Opisanie)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Img)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Img)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cena)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cena)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PunctVedache)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PunctVedache)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nalichie)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nalichie)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Skidka)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Skidka)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
